.main-container {
    display: inline-flex;
    width: 100%;
    text-align: left;
    flex-direction: row;
    align-self: stretch;
}

.budget {
    font-size: 20px;
    color: green;
    margin: 0 auto;
    padding: 15px;
    background-color: blueviolet;
}